
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dk85eoleo/image/upload/v1605282254/6u56vs9h4j2z5acdwzy9ip5jxqnz.jpg);">
  <div class="container">
    <h1>Cocktail List</h1>
    <p>Choose your cocktail.</p>
    <%= link_to "Add a New One" , new_cocktail_path, class:"btn-add"  %>
  </div>
</div>



<div class="card container d-flex justify-content-between" style="width: 18rem;">
  <% @cocktails.each_with_index do |cocktail, index| %>
    <img src="https://picsum.photos/200"  alt="...">
    <div class=" card card-body">
      <h5 class="card-title"> <%= index + 1  %> ~ <%= cocktail.name  %>  </h5>
      <div class="btn "> <%= link_to "Recette" , cocktail_path(cocktail)%>  </div>
    </div>
  <% end %>
</div>
